<footer class="footer">
  <section id="footerCol">
    <div class="container">
      <aside class="footerCol">
        <h3>Solutions</h3>
        <ul>
          <li><a href="https://www2.wwt.com/solution/big-data/">Big Data</a></li>
          <li><a href="https://www2.wwt.com/solution/cloud/">Cloud</a></li>
          <li><a href="https://www2.wwt.com/solution/collaboration/">Collaboration</a></li>
          <li><a href="https://www2.wwt.com/solution/compute/">Compute</a></li>
          <li><a href="https://www2.wwt.com/solution/mobility/">Mobility</a></li>
          <li><a href="https://www2.wwt.com/solution/networking/">Networking</a></li>
          <li><a href="https://www2.wwt.com/solution/security/">Security</a></li>
          <li><a href="https://www2.wwt.com/solution/software-development/">Software</a></li>
          <li><a href="https://www2.wwt.com/solution/storage/">Storage</a></li>
        </ul>
      </aside>
      <aside class="footerCol">
        <h3>Industries</h3>
        <div class="menu-industries-container">
          <ul id="menu-industries" class="menu">
            <li id="menu-item-1732" class="menu-item menu-item-type-post_type menu-item-object-industry menu-item-1732"><a href="https://www2.wwt.com/industry/education/">Education</a></li>
            <li id="menu-item-1730" class="menu-item menu-item-type-post_type menu-item-object-industry menu-item-1730"><a href="https://www2.wwt.com/industry/federal-government/">Federal Government</a></li>
            <li id="menu-item-1731" class="menu-item menu-item-type-post_type menu-item-object-industry menu-item-1731"><a href="https://www2.wwt.com/industry/financial-services/">Financial Services</a></li>
            <li id="menu-item-1733" class="menu-item menu-item-type-post_type menu-item-object-industry menu-item-1733"><a href="https://www2.wwt.com/industry/healthcare/">Healthcare</a></li>
            <li id="menu-item-1735" class="menu-item menu-item-type-post_type menu-item-object-industry menu-item-1735"><a href="https://www2.wwt.com/industry/manufacturing/">Manufacturing</a></li>
            <li id="menu-item-2470" class="menu-item menu-item-type-post_type menu-item-object-industry menu-item-2470"><a href="https://www2.wwt.com/industry/oil-gas/">Oil &amp; Gas</a></li>
            <li id="menu-item-1736" class="menu-item menu-item-type-post_type menu-item-object-industry menu-item-1736"><a href="https://www2.wwt.com/industry/retail/">Retail</a></li>
            <li id="menu-item-2471" class="menu-item menu-item-type-post_type menu-item-object-industry menu-item-2471"><a href="https://www2.wwt.com/industry/service-provider/">Service Provider</a></li>
            <li id="menu-item-1737" class="menu-item menu-item-type-post_type menu-item-object-industry menu-item-1737"><a href="https://www2.wwt.com/industry/state-local-government/">State &amp; Local Government</a></li>
            <li id="menu-item-1742" class="menu-item menu-item-type-post_type menu-item-object-industry menu-item-1742"><a href="https://www2.wwt.com/industry/utilities/">Utilities</a></li>
          </ul>
        </div>
      </aside>
      <aside class="footerCol">
        <h3>Services</h3>
        <div class="menu-services-container">
          <ul id="menu-services" class="menu">
            <li id="menu-item-1757" class="menu-item menu-item-type-post_type menu-item-object-service menu-item-1757"><a href="https://www2.wwt.com/service/consulting-services/">Consulting Services</a></li>
            <li id="menu-item-1755" class="menu-item menu-item-type-post_type menu-item-object-service menu-item-1755"><a href="https://www2.wwt.com/service/lab-services/">Lab Services</a></li>
            <li id="menu-item-1754" class="menu-item menu-item-type-post_type menu-item-object-service menu-item-1754"><a href="https://www2.wwt.com/service/supply-chain-services/">Supply Chain Management</a></li>
            <li id="menu-item-1758" class="menu-item menu-item-type-post_type menu-item-object-service menu-item-1758"><a href="https://www2.wwt.com/service/deployment-services/">Deployment Services</a></li>
            <li id="menu-item-1752" class="menu-item menu-item-type-post_type menu-item-object-service menu-item-1752"><a href="https://www2.wwt.com/service/staffing-services/">Staffing Services</a></li>
            <li id="menu-item-1753" class="menu-item menu-item-type-post_type menu-item-object-service menu-item-1753"><a href="https://www2.wwt.com/service/lifecycle-services/">Lifecycle Services</a></li>
            <li id="menu-item-6369" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6369"><a href="https://www2.wwt.com/services/atc/">ATC</a></li>
            <li id="menu-item-6370" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6370"><a href="https://www2.wwt.com/services/itc/">ITC</a></li>
          </ul>
        </div>
      </aside>
      <aside class="footerCol">
        <h3>Additional Information</h3>
        <div class="menu-additional-information-container">
          <ul id="menu-additional-information" class="menu">
            <li id="menu-item-2472" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2472"><a href="https://www2.wwt.com/about-us/">About Us</a></li>
            <li id="menu-item-1307" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1307"><a href="https://www2.wwt.com/all-blog/">Blog</a></li>
            <li id="menu-item-6365" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6365"><a href="https://www2.wwt.com/brochures/">Brochures</a></li>
            <li id="menu-item-2473" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2473"><a href="https://www2.wwt.com/careers/">Careers</a></li>
            <li id="menu-item-2903" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2903"><a href="https://www2.wwt.com/places/">Locations</a></li>
            <li id="menu-item-1883" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1883"><a href="https://www2.wwt.com/all-news/">News</a></li>
            <li id="menu-item-1460" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1460"><a href="https://www2.wwt.com/all-news/press-kit/">Press Kit</a></li>
            <li id="menu-item-6366" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6366"><a href="https://www2.wwt.com/white-papers/">White Papers</a></li>
            <li id="menu-item-1884" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1884"><a href="https://www2.wwt.com/services/workshops/">Workshops</a></li>
          </ul>
        </div>
      </aside>
    </div>
  </section>
  <section id="footerLinks">
    <div class="container">
      <div class="menu-footer-bottom-container">
        <div><a href="http://www2.wwt.com/">Home</a>
          <a href="https://www2.wwt.com/privacy-policy/">Privacy Policy</a>
          <a href="https://www2.wwt.com/terms-conditions-2/">Terms &amp; Conditions</a>
          <a href="https://www2.wwt.com/contact-us/">Contact Us</a>
        </div>
      </div>
    </div>
  </section>
  <section id="copyright">
    <div class="container"> © 2017 World Wide Technology Inc. All Rights Reserved. </div>
  </section>
</footer>